Source: openmediavault-sleepproxyclient
Section: utils
Priority: optional
Maintainer: Simone Karin Lehmann <skl@lisanet.de>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no
Homepage: https://github.com/lisanet/openmediavault-sleepproxyclient

Package: openmediavault-sleepproxyclient
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-dnspython, python3-netifaces, python3-avahi, avahi-utils, bash, systemd, bc, net-tools
Description: openmediavault plugin to enable a SleepProxyClient implemention
  This plugin enables your NAS, to save energy by going to sleep while not in use. The Sleep Proxy Server, usually an Apple TV or HomePod, will wake the device using Wake on LAN (WOL), as soon as a port matching an announced service is accessed. See http://en.wikipedia.org/wiki/Bonjour_Sleep_Proxy for more details.

