#!/usr/bin/make -f
# See debhelper(7) for documentation.

%:
	dh $@

# Uncomment and adapt the following targets if needed:

# override_dh_auto_build:
# 	$(MAKE)

# override_dh_auto_install:
# 	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp PREFIX=/usr install
